case data.type.value
    when 'puon'
        .item.item-puon
            include ../../mixins/item-type/item-type.pug
            +item-type(data.type.value, data.type.text)(class='item__type')
            include ../../mixins/circle/circle.pug
            if data.isWork
                +circle('work')(class='item__is-work')
            else
                +circle('not-work')(class='item__is-work')
            span(value=data.district.value).item__district=data.district.text
            span.item__address=data.address
            a(href=`/items/${data.id}`).item__link
    when 'pion'
        .item.item-pion
            include ../../mixins/item-type/item-type.pug
            +item-type(data.type.value, data.type.text)(class='item__type')
            include ../../mixins/circle/circle.pug
            if data.isWork
                +circle('work')(class='item__is-work')
            else
                +circle('not-work')(class='item__is-work')
            span(value=data.district.value).item__district=data.district.text
            span.item__address=data.address
            a(href=`/items/${data.id}`).item__link
